.questionFormButton {

    width: 15%;
    padding: 10px 24px;
    text-align: center;
    border-radius: 4px;
    font-size:20px;
    margin:20px 0;
    cursor: pointer;
}


.validatorErrorMessage {
    text-align: center;
    color: red;
    font-size: 18px;
    margin-bottom: 0;
}